.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  

  .card-container  {
    -webkit-filter: sepia(40%);
    filter: sepia(40%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.card-container:hover {
    -webkit-filter: sepia(0);
    filter: sepia(0);
    transform: scale(1.05);
}